
.content {
    position: fixed;
    top: 5em;
    left: 370px;
}
.content table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden
}
.content .tab {
    margin-top: 3em;

    border-style: solid;
    width: 55rem;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans';
    border-radius: 30px ;
    background-color: rgba(127, 255, 212, 0.244);
    
}
.content .tab tr:first-child td{
    background-color: rgb(147, 221, 207);
 
}
.content h3 {

}